
 
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h3>Student Login</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Username" id="username"  class="form-control"
    ngModel
    name="username"
    required
    username>

    <label for="password">Password</label>
    <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />

    <button type="submit" style="color:black;">Login</button>
   
    <div *ngIf="errorMessage" style="color:black;" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>
    </form>
    
  
  