<app-header></app-header>
<form class="signup-form" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
   
    <div *ngIf="employeeid === undefined" class="form-header">
      <h1>Create Account</h1>
    </div>

    <div *ngIf="employeeid !== ''&&  employeeid !== undefined" class="form-header">
      <h1>Edit Account</h1>
    </div>
    <div class="form-body">
      <div class="horizontal-group">
        <div class="form-group left">
          
            <label for="firstName" class="label-title">First Name:</label>
            <input type="text" id="firstName" class="form-input" formControlName="firstName" >
          
        </div>
        <div class="form-group right">
          <label for="lastName" class="label-title">Last Name:</label>
          <input type="text" id="lastName" class="form-input" formControlName="lastName">
          
        </div>
    </div>
  
<div class="form-group">
  <label for="personalEmail" class="label-title">Email:</label>
      <input type="email" id="personalEmail" class="form-input" formControlName="personalEmail" >
</div>


<div class="horizontal-group">

  <div class="form-group left">
   
    <label for="dateOfBirth" class="label-title">Date of Birth:</label>
    <input type="date" id="dateOfBirth" class="form-input" formControlName="dateOfBirth">
  </div>

  <div class="form-group right">
    <label for="mobileNumber" class="label-title">Mobile Number:</label>
      <input type="text" id="mobileNumber" class="form-input" formControlName="mobileNumber">
  </div>

</div>
<div class="horizontal-group">
<!-- 
  <div class="form-group ">
      
      <label for="postalAddress" class="label-title">Postal Address:</label>
      <textarea type="text-area" id="postalAddress" class="form-input"  formControlName="postalAddress">
  </div> -->
  <div class="form-group ">
    <label for="postalAddress" class="label-title">Postal Address:</label>
    <textarea id="postalAddress" formControlName="postalAddress" rows="4" cols="20" style="height:auto" class="form-input"></textarea>

</div>
  <div class="form-group right" style="padding-top:5px;">
      
      <label for="gender" class="label-title">Gender:</label>
      <div>
        <label style="margin-right:5px;">
          <input type="radio" [value]="1" formControlName="gender"> Male
        </label>
        <label style="margin-right:5px;">
          <input type="radio" [value]="2" formControlName="gender"> Female
        </label>
       
      </div>
  </div>
  
</div>

 <div class="horizontal-group">

  <div class="form-group left" >
    
    <label for="country" class="label-title">Country:</label>
      <select class="form-input" id="country" formControlName="country">
        <option value="1">USA</option>
        <option value="2">Canada</option>
        <option value="3">UK</option>
     
      </select>
  </div>
  <div class="form-group right" style="padding-top: 2px;">
    <label for="city" class="label-title">City:</label>
      <select id="city" formControlName="city" class="form-input">
        <option value="1">New York</option>
        <option value="2">Los Angeles</option>
        <option value="3">London</option>
      
      </select>
   
  </div>
  <div class="form-group left" >
   
    <label for="designation" class="label-title">Designation:</label>
      <select id="designation" formControlName="designation" class="form-input">
        <option value="1">Software Enginner</option>
        <option value="2">SoftWare Tester</option>
        <option value="3">data Analyst</option>
       
      </select>
  </div>
  
  <div class="form-group right">
    <label for="basicPay" class="label-title">Basic Pay:</label>
    <input type="number" id="basicPay" formControlName="basicPay" class="form-input">
  </div>

</div>
<div class="horizontal-group">

  <div class="form-group left" >
    <label for="needTransportation" class="label-title" style="margin-right:5px;">Need Transportation: </label>
      <input   type="checkbox" id="needTransportation" formControlName="needTransportation" >
  </div>
  
  <div class="form-group ">
    <label for="notes" class="label-title">Notes:</label>
    <textarea id="notes" formControlName="notes" rows="4" cols="20" style="height:auto" class="form-input"></textarea>

</div>
<div class="form-group left" >
  <label for="username" class="label-title">Username:</label>
  <input type="text" id="username" formControlName="username" class="form-input">
</div>
<!-- <div class="form-group right">
  <label for="password" class="label-title">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-input">
</div>
<div class="form-group left">
  <label for="confirmPassword"  class="label-title">Confirm Password:</label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-input" >
  {{errorMessage}}
</div> -->
<div class="form-group right">
  <label for="password" class="label-title">Password</label>
  <input type="password" id="password" name="password" formControlName="password" class="form-input" required>
</div>

<div class="form-group left">
  <label for="confirmPassword" class="label-title">Confirm Password</label>
  <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-input" required>
  <div *ngIf="passwordMismatch()">
    <div class="text-danger">Password and Confirm Password do not match.</div>
  </div>
</div>



    </div>
  </div> 

    <div class="form-footer">
      <div *ngIf="showSuccessMessage" class="success-message">
        {{successMessage}}
      </div>
      <button type="submit" class="btn" type="submit" [disabled]=" passwordMismatch() || !studentForm.valid">Submit</button>
    </div>
  </form>
  